body {
  overflow-x: hidden;
}

.wrap {
  min-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  border-bottom: 1px solid #f2f2f2;
  height: 120px;
  font-family: 'TheJamsil5Bold';
}


.header.on {
  background: #fff
}

.header a {

  display: block;

}

.header a img {

  width: 50%;
}

.header .menu_wrap {

  height: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .gnb>ul {
  display: flex;
  gap: 40px;

  padding: 0 44px;
  font-weight: 300;
  font-size: 18px;
}

.header .gnb>ul>a {


  white-space: nowrap;
}


/*  */


.main_visual {
  position: relative;
  font-family: 'TheJamsil5Bold';
}

.video_wrap .slogan {
  position: absolute;
  top: 30%;
}


.video_wrap .slogan .tit {

  font-size: 60px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.25;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);

}



.video_wrap .slogan .tit_bold {

  display: block;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
}



.video_wrap .slogan p {

  padding-left: 25px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.7;
  color: #fff;
}


/**/


.main_typing {
  position: relative;
}

.m_typ {
  position: relative;
  padding-top: 35px;
  margin-bottom: 2%;
  font-size: 46px;
  color: #222;
  text-align: center;
}

.m_typ::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 21px;
  margin-left: -4px;

  background-color: #ff8a26;
  transform: skewX(-25deg);
}

.m_sub {

  font-size: 17px;
  color: #666;
  text-align: center;
  margin-top: 6px;
  line-height: 1.5;
  padding-bottom: 50px;
}


.ani {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}


.ani .itm {
  flex: 0 1 25%;
  padding: 12px 20px 50px;
  text-align: center;
  border-right: 1px solid #e6eaee;
}


.ani .itm:last-child {
  border-right: 0;
}


.ani .img_area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 35px;
}


.ani .img_area {
  position: relative;
  margin-top: 35px;
}

.ani .img_area::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 1px;
  margin: 18px auto;
  background-color: #000;
}


.ani .fnt {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  letter-spacing: -0.03em;

  animation: mainDiagLeftMotion 2.5s forwards;
  transition: visibility .3s, opacity .3s, transform .3s;
}

@keyframes mainDiagLeftMotion {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(0);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}


.ani .unit {
  display: inline-block;

  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #222;
  margin-left: 6px;
}


.ani .txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
  color: #022974;
  text-align: center;
}

.ani .txt>.sub {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}



/**/


.tap_menu .left {
  position: relative;
  float: left;
  width: 50%;


  text-align: center;

  z-index: 1;
}

/* .tap_menu .left::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  background-color: #eee;
} */


.tap_menu .left span {

  font-size: 16px;
  font-weight: 500;
  color: #666;
  transition: color .3s;


}

.color_box {
  background: #eee;
}

.tap_menu .top ul {

  display: flex;
  align-items: center;

  justify-content: center;
  margin-bottom: 60px;
  gap: 20px;
  cursor: pointer;
}



.tap_menu .tap_box .bottom img {
  float: right;
  width: 50%;
}



.tap_menu .tap_box .bottom .tap_tit {
  position: relative;

  top: 50px;
  text-align: center;

  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 500;
  color: #333;

}


.tap_menu .tap_box .bottom .p_txt {
  position: relative;
  top: 50px;
  width: 500px;
  margin-left: 3.2%;
  text-align: center;
  min-height: 144px;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  color: #666;
}



.tap_menu .tap_box .bottom li {
  height: 0;
  overflow: hidden;
}

.tap_menu .tap_box .bottom li.on {
  height: auto;
}

/**/



.news .left .img_box img {


  height: 250px;
}

.news .left .img_box {
  position: relative;
  bottom: 10px;
  width: 27%;

}




.news_list>.item {
  position: relative;
  bottom: 3px;
  left: 23%;

}

.news_list>.item>.link {

  display: inline-block;
  justify-content: center;
  padding: 17px 20px 17px 28px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  white-space: nowrap;
  width: 42%;

}



.news_list>.item>.date {


  font-size: 15px;
  font-weight: 700;
  color: #ccc;
}

.news .left img {
  position: absolute;
  bottom: 130px;
  height: 300px;
  width: 13%;
}

.btn_news {

  width: 130px;
  height: 42px;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  color: #333;
  border: 1px solid #dcdcdc;
  transition: border-radius .3s ease, border-color .3s;
  padding: 10px;

}


.btn_news:hover {
  border-radius: 25px;
  border-color: #aaa;
}

.news {
  position: relative;
}

.news .right img {
  position: absolute;
  right: 367px;
  bottom: 140px;
  height: 300px;
  width: 13%;
}

/**/

.footer {

  position: relative;
  bottom: 0;
  background: #333333;
  padding: 50px;
  color: #f9f9f9;
}

.footer .inner {
  max-width: 1200px;
}


.ft_header {

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 40px;

}

.ft_bar {}

.ft_list {
  display: flex;
  align-items: center;

}


.ft_list>.fot {

  margin-left: 30px;
}

.ft_list a {
  font-size: 15px;
  color: #979797;
}


.ft_content {
  display: flex;
  min-width: 1200;
  line-height: 1.4;
}



.ft_content ul,
.ft_content li {
  float: left;
  padding-bottom: 8px;
  font-size: 14px;
  color: #979797;
}

.ft_content li {
  float: none;
}

.copyright {
  margin-top: 22px;
  font-size: 14px;
  color: #5b5b5b;
}

.language {
  position: relative;
  margin: 0 0 0 570px;

}

.language .btn_select_language {
  display: block;

  position: relative;
  width: 50px;
  height: 31px;
  font-size: 14px;
  font-weight: 700;
  color: #fefefe;
  text-align: left;
  border: 0;
  outline: none;
  background-color: transparent;

}

.language .btn_select_language>.icon {
  font-size: 12px;
}

.language>.language_list {
  position: absolute;
  top: 30%;
  left: -10px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #fefefe;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
  transition: visibility .25s ease, opacity .25s ease;
  z-index: 11;

}


.language>.language_list>li {
  text-align: left;
  border-bottom: 1px solid #eee;

}

.language>.language_list>li:last-child {
  border-bottom: 0;
}




.language>.language_list>li>a {
  display: block;
  font-size: 13px;
  color: #333;
  padding: 6px 0;
  text-align: center;

}

.language>.language_list>li>a:hover {
  background: #f1f1f1
}

.language>.language_list>li>a.act {

  background-color: #f18d00;
  font-weight: 700;
  color: #fff;
}

.language.on>.btn_select_language>.icon::before {
  content: "\e930"
}

.language.on>.language_list {
  visibility: visible;
  opacity: 1;
}


.ft_family {
  margin: 0 0 0 auto;

  width: 200px;
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  color: #7c7c7b;
  border: 0;
  background-color: #1a1917;
  cursor: pointer;
  outline: none;
}